@(categoryForm: Form[Category])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(play.i18n.Messages.get("category.addCategory")) {
    
    <h2>@Messages(play.i18n.Messages.get("category.addCategory"))</h2>
    
    @form(routes.CategoryController.save()) {
        
        <fieldset>
        
            @inputText(categoryForm("name"), '_label -> play.i18n.Messages.get("name"))

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="@Messages("create")" class="btn primary"> @Messages("or")
            <a href="@routes.CategoryController.categories()" class="btn">@Messages("cancel")</a>
        </div>
        
    }
    
}