.width-pdf{
    width: 700px;
    margin-top: 40px;
    margin-bottom: 140px;
    margin-left: 40px;
    margin-right: 40px;
}

.height-pdf{
    height: 925px;
    padding-bottom: 10px;
 }

.event-item {
  border: 2px solid black;
  background: white;
  border-radius: 5px;
  margin: 0 0 20px;
}

.logoAndEvent{
    width: 100%;
    height: 100px;
}

#logo{
    width: 110px;
    height: 100px;
    background-color: white;
    background-image: url('/assets/images/logo_tlmalp_black_110x100.png');
    background-repeat: no-repeat;
}

.event-item > ul {
    border-radius: 5px 5px 0 0;
    background: white;
    padding: 0;
    border-top: 1px solid black;
}

.event-product-list{
    width: 100%;
}

.event-header-data{
    display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
    width: 100%;
    height:30px;
    margin-top: 10px;
}


label {
    display: inline-block;
    vertical-align: middle;
    height:20px;
    width:200px;
    float:right;
    padding-top: 0;
}

h4{
    position: relative;
    display: inline;
}

.event-title > div{
    padding-top: 45px;
}


.event-title{
    width: 590px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}


li{
    position: relative;
    padding: 4px 20px 4px 7px;
    border: 1px solid rgba(0,0,0,.05);

}

.floating{
    position: relative;
    float: left;
    display: inline;
}

.floating-right {
    position: relative;
    float: right;
    display: inline;
}

.checkbox-list {
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

html, body {
    background-color: rgb(255, 255, 255);
}
