@(event: Event)

@pdfhtml(event.name + " details") {

    <div class="event-item width-pdf">
        <div class="logoAndEvent">
            <div id="logo" class="floating">

            </div>
            <div class="event-title floating">
                <div><h4>@event.name</h4></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="event-header-data">
            @if(event.endDate != null) {
                <label class="floating-right">End date:
                    <span name="event-endDate">@event.endDate.format("MMM dd yyyy")</span>
                </label>
            }
            @if(event.startDate != null) {
                <label class="floating-right">Start date:
                    <span name="event-startDate">@event.startDate.format("MMM dd yyyy")</span>
                </label>
            }

        </div>

        <div class="event-product-list">
            <ul>
                <li>Product 1<div class="checkbox-list floating-right">&nbsp;</div></li>
                <li>Product 2<div class="checkbox-list floating-right">&nbsp;</div></li>
                <li>Product 3<div class="checkbox-list floating-right">&nbsp;</div></li>
                <li>Product 4<div class="checkbox-list floating-right">&nbsp;</div></li>
            </ul>
        </div>

    </div>
}



