@(event: Event)

@pdf(event.name + " details") {
    <div class="events width-pdf">
        <div class="event-item">

            <h4>@event.name</h4>
            @*<div class="event-header-data events-header-data-pdf floating-right">*@
                @if(event.endDate != null) {
                    <label>End date:
                        <span name="event-endDate">@event.endDate.format("MMM dd yyyy")</span>
                    </label>
                }
                @if(event.startDate != null) {
                    <label>Start date:
                        <span name="event-startDate">@event.startDate.format("MMM dd yyyy")</span>
                    </label>
                }

                <div class="clear"/>
            @*</div>*@


            <ul>
                <li>Product 1<div class="checkbox-list floating-right">&nbsp;</div></li>
                <li>Product 2<div class="checkbox-list floating-right">&nbsp;</div></li>
                <li>Product 3<div class="checkbox-list floating-right">&nbsp;</div></li>
                <li>Product 4<div class="checkbox-list floating-right">&nbsp;</div></li>
            </ul>

        </div>
    </div>
}



