@(typeOfEquipmentForm: Form[TypeOfEquipment])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(Messages("typeOfEquipment.addTypeOfEquipment")) {
    
    <h2>@Messages("typeOfEquipment.addTypeOfEquipment")</h2>
    
    @form(routes.TypeOfEquipmentController.save()) {
        
        <fieldset>
        
            @inputText(typeOfEquipmentForm("name"), '_label -> Messages("name"))

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="@Messages("create")" class="btn primary"> @Messages("or")
            <a href="@routes.TypeOfEquipmentController.typesOfEquipment()" class="btn">@Messages("cancel")</a>
        </div>
        
    }
    
}