@(currentPage: com.avaje.ebean.Page[TypeOfEquipment], currentSortBy: String, currentOrder: String, currentFilter: String)
@****************************************
* Helper generating navigation links *
****************************************@
    @link(newPage: Int, newSortBy: String) = @{

        var sortBy = currentSortBy
        var order = currentOrder

        if(newSortBy != null) {
            sortBy = newSortBy
            if(currentSortBy == newSortBy) {
                if(currentOrder == "asc") {
                    order = "desc"
                } else {
                    order = "asc"
                }
            } else {
                order = "asc"
            }
        }

        // Generate the link
        routes.TypeOfEquipmentController.typesOfEquipment(newPage, sortBy, order, currentFilter)

    }

        @**********************************
        * Helper generating table headers *
        ***********************************@
    @header(key: String, title: String) = {
        <th class="@key.replace("../../../public", "_") header @if(currentSortBy == key) @{
            if(currentOrder == "asc") "headerSortDown" else "headerSortUp"
        }">
            <a href="@link(0, key)">@title</a>
        </th>
    }
@main(Messages("typeOfEquipment.listTypeOfEquipments")) {

    <h2 id="homeTitle">@Messages(Messages("typeOfEquipment.listTypeOfEquipments"), currentPage.getTotalRowCount)</h2>

    @if(flash.containsKey("success")) {
        <div class="alert-message success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(flash.containsKey("error")) {
        <div class="alert-message error">
            <strong>Done!</strong> @flash.get("error")
        </div>
    }

    <div id="actions">

        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="@Messages("filterByName")...">
            <input type="submit" id="searchsubmit" value="@Messages("filterByName")" class="btn primary">
        </form>

        <a class="btn success" id="add" href="@routes.TypeOfEquipmentController.create()">
            @Messages("typeOfEquipment.addTypeOfEquipment")</a>

    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>@Messages("nothingToDisplay")</em>
        </div>

    } else {

        <table class="computers zebra-striped">
            <thead>
                <tr>
                @header("name", Messages("name"))
                </tr>
            </thead>
            <tbody>

            @for(typeOfEquipment <- currentPage.getList) {
                <tr>
                    <td><a href="@routes.TypeOfEquipmentController.editTypeOfEquipment(typeOfEquipment.name)">@typeOfEquipment.name</a></td>
                </tr>
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("previous")</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; @Messages("previous")</a>
                    </li>
                }
                <li class="current">
                    <a>@Messages("displaying") @currentPage.getDisplayXtoYofZ(" " + play.i18n.Messages.get("to") + " ", " " + play.i18n.Messages.get("of") + " ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">@Messages("next") &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>@Messages("next") &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }

}