@(productForm: Form[Product])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main(Messages("product.addProduct")) {
    
    <h2>@Messages("product.addProduct")</h2>

    @if(flash.containsKey("success")) {
        <div class="alert-message success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(flash.containsKey("error")) {
        <div class="alert-message error">
            <strong>Done!</strong> @flash.get("error")
        </div>
    }
    
    @form(routes.ProductController.save()) {


        <fieldset class="floating">

            @inputText(productForm("name"), '_label -> Messages("name"))

        </fieldset>

        <div class="clear"></div>

        <fieldset class="floating">
        
            @select(
                productForm("category.id"),
                    options(Category.options),
                    '_label -> Messages("category"), '_default -> "-- Choose a category --",
                    '_showConstraints -> false
            )

            @select(
                productForm("typeOfEquipment.id"),
                    options(TypeOfEquipment.options),
                    '_label -> Messages("typeOfEquipment"), '_default -> "-- Choose a type of equipment --",
                    '_showConstraints -> false
            )

            @select(
                productForm("brand.id"),
                    options(Brand.options),
                    '_label -> Messages("brand"), '_default -> "-- Choose a brand --",
                    '_showConstraints -> false
            )

        </fieldset>

        <fieldset class="floating">

            @inputText(productForm("description"), '_label -> Messages("description"))

            @inputText(productForm("quantity"), '_label -> Messages("quantity"))

            @inputText(productForm("owner"), '_label -> Messages("owner"))

        </fieldset>

        <fieldset class="floating">
            @inputText(productForm("room"), '_label -> Messages("room"))

            @inputText(productForm("location"), '_label -> Messages("location"))

            @inputText(productForm("state"), '_label -> Messages("state"))

        </fieldset>

        <fieldset class="floating">

            @inputDate(productForm("dateOfPurchase"), '_label -> Messages("dateOfPurchase"))

            @inputDate(productForm("euroPrice"), '_label -> Messages("euroPrice"))

            @inputDate(productForm("usdPrice"), '_label -> Messages("usdPrice"))
        </fieldset>

        <div class="clear"></div>
        
        <div class="actions">
            <input type="submit" value="@Messages("create")" class="btn primary"> @Messages("or")
            <a href="@routes.ProductController.products()" class="btn">@Messages("cancel")</a>
        </div>
        
    }
    
}