@(partition: List[List[Product]])

@pdf("Liste de materiel à imprimer") {
    @for(products <- partition){
        <div class="event-item width-pdf height-pdf">
            <div class="logoAndEvent">
                <div id="logo" class="floating">

                </div>
                <div class="event-title floating">
                    <div><h4>Liste de materiel à imprimer</h4></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="event-header-data">

            </div>

            <div class="event-product-list">
                <ul>
                    @for(product <- products) {
                        <li>@product.name | @product.location<div class="checkbox-list floating-right">&nbsp;</div></li>
                    }
                </ul>
            </div>

        </div>
    }
}



