@(productForm: Form[Product], products:List[SelectableProduct])

@import helper._

    @**********************************
    * Helper generating table headers *
    ***********************************@
    @header(key: String, title: String) = {
        <th class="@key.replace("../../../public", "_") header ">
        </th>
    }

    @simpleHeader(title: String) = {
        <th class="header ">@title</th>
    }

@main("Don't forget your equipment!!") {

    <h1 id="homeTitle">@Messages("products.list.title")</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(flash.containsKey("error")) {
        <div class="alert-message error">
            <strong>Done!</strong> @flash.get("error")
        </div>
    }


    @if(products.size == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        @form(routes.ProductController.printPdf()){
            <table class="computers zebra-striped">
                <thead>
                    <tr>
                        <th></th>
                        @simpleHeader("Product name")
                        @simpleHeader("Type")
                        @simpleHeader("Category")
                        @simpleHeader("Marque")
                        @simpleHeader("Description")
                        @simpleHeader("Proprio")
                        @simpleHeader("Salle")
                        @simpleHeader("Emplacement")
                        @simpleHeader("Etat")
                        @simpleHeader("Date Achat")
                        @simpleHeader("Prix Achat Unit.")
                        @simpleHeader("USD")
                    </tr>
                </thead>
                <tbody>

                @for(product <- products) {
                    <tr>
                        <td><input id="@product.id" name="product-@product.id" type="checkbox" value="false"/></td>
                        <td>@product.name</td>
                        <td>@product.typeOfEquipment.name</td>
                        <td>@product.category.name</td>
                        @if(product.brand == null){<td></td>}
                        @if(product.brand != null){<td>@product.brand.name</td>}
                        <td>@product.description</td>
                        <td>@product.owner</td>
                        <td>@product.room</td>
                        <td>@product.location</td>
                        <td>@product.state</td>
                        <td>@product.dateOfPurchase</td>
                        <td>@product.euroPrice</td>
                        <td>@product.usdPrice</td>
                    </tr>
                }

                </tbody>
            </table>

            <input type="submit" value="Print list as PDF" class="btn primary">

        }
    }

}