@(currentPage: com.avaje.ebean.Page[Product], currentSortBy: String, currentOrder: String, currentFilter: String)

@import helper._

@****************************************
* Helper generating navigation links *
****************************************@
    @link(newPage: Int, newSortBy: String) = @{

        var sortBy = currentSortBy
        var order = currentOrder

        if(newSortBy != null) {
            sortBy = newSortBy
            if(currentSortBy == newSortBy) {
                if(currentOrder == "asc") {
                    order = "desc"
                } else {
                    order = "asc"
                }
            } else {
                order = "asc"
            }
        }

        // Generate the link
        routes.ProductController.products(newPage, sortBy, order, currentFilter)

    }

        @**********************************
        * Helper generating table headers *
        ***********************************@
    @header(key: String, title: String) = {
        <th class="@key.replace(".", "_") header @if(currentSortBy == key) @{
            if(currentOrder == "asc") "headerSortDown" else "headerSortUp"
        }">
            <a href="@link(0, key)">@title</a>
        </th>
    }
@main("Don't forget your equipment!!") {

    <h1 id="homeTitle">@Messages("products.list.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }

    @if(flash.containsKey("error")) {
        <div class="alert-message error">
            <strong>Done!</strong> @flash.get("error")
        </div>
    }

    <div id="actions">

        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by product name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>


        <a class="btn success" id="add" href="@routes.ProductController.newProduct()">Add a new product</a>



    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="computers zebra-striped">
            <thead>
                <tr>
                    @header("name", "Product name")
                    @header("typeOfEquipment.name", "Type")
                    @header("category.name", "Category")
                    @header("brand.name", "Marque")
                    @header("description", "Description")
                    @header("quantity", "Quant.")
                    @header("owner", "Proprio")
                    @header("room", "Salle")
                    @header("location", "Emplacement")
                    @header("state", "Etat")
                    @header("dateOfPurchase", "Date Achat")
                    @header("euroPrice", "Prix Achat Unit.")
                    @header("usdPrice", "USD")
                    <th class="deleteAll"><a href="@routes.ProductController.deleteAll()">Delete all products</a></th>
                </tr>
            </thead>
            <tbody>

            @for(product <- currentPage.getList) {
                <tr>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.name</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.typeOfEquipment.name</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.category.name</a></td>
                    @if(product.brand == null){<td></td>}
                    @if(product.brand != null){<td><a href="@routes.ProductController.edit(product.id)">@product.brand.name</a></td>}
                    <td><a href="@routes.ProductController.edit(product.id)">@product.description</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.quantity</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.owner</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.room</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.location</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.state</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.dateOfPurchase</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.euroPrice</a></td>
                    <td><a href="@routes.ProductController.edit(product.id)">@product.usdPrice</a></td>
                    <td class="deleteTd">
                        @form(routes.ProductController.delete(product.id)) {
                            <input type="submit" value=" " class="deletePicture"/>
                        }
                    </td>
                </tr>
            }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @currentPage.getDisplayXtoYofZ(" to ", " of ")</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>

    }

    @helper.form(action = routes.ProductController.upload, 'enctype -> "multipart/form-data") {

        <input type="file" name="inventory">
        <p>
            <input type="submit">
        </p>

    }
}